
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --c-prim: #172121;
  --c-sec: #0de9c4;
  --c-tri: #03d34ce8;
  --c-blu: #0f99a8;
  --c-blus: #0f5d66;
  --c-white: #ffffff;
  --c-black: #000;
  --c-grey0: #f8f8f8;
  --c-grey-1: #dbe1e8;
  --c-grey-2: #b2becd;
  --c-grey-3: #6c7983;
  --c-grey-4: #454e56;
  --c-grey-5: #2a2e35;
  --c-grey-6: #12181b;
  --c-purp: #a818b8;
  --fs-h1: 4rem;
  --fs-h2: 2.8rem;
  --fs-h3: 2rem;
  --fs-h4: 1.4rem;
  --fs-bod: 1rem;
  --c-light: #fff;
  --c-dark: #303030;
  --c-accent: #16e0bd;
  --fw-reg: 300;
  --fw-bold: 800;
  --bs: 0.3em 0.3em 0.8em rgba(0,0,0,.25), 
          0.2em 0.2em 0.4em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.6rem;
    --fs-h3: 1.6rem;
    --fs-bod: 1.2rem;
  }
}

html {
  scroll-behavior: smooth;
}

/*General Styles*/
body {
  background: var(--c-blus);
  color: var(--c-dark);
  margin: 20px;
  font-size: var(--fs-bod);
  line-height: 1.2;
  color: var(--c-white);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

section {
  padding: 4em 1em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

/*.home-btn{
    top: 5%;
    left: 3%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-grey-4);
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 15px rgba(0,0,0,.3);
    transition: all .1s ease-in-out;
    &:active{
        transform: translateY(-3px);
    }
    i{
        font-size: 1.2rem;
        color: var(--color-grey-2);
    }
}*/
/*Typography*/
h1,
h2,
h3,
h4 {
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

.section_title {
  margin-bottom: .3em;
}

.section_subtitle-intro {
  font-weight: var(--fw-reg);
}

.section_subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section_subtitle-intro,
.section_subtitle-about {
  background: var(--c-blu);
  padding: 1.4em 1em;
  margin-bottom: 1em;
}

.footer {
  display: inline-block;
}

.f-text{
  font-size: 20px;
  font-weight: 600;
}

.sml-pic{
  border-radius: 8px;
  transition: all .4s ease-in-out;
}

.sml-pic img:hover{
  box-shadow: 10px 10px 10px 10px rgb(aquamarine);
}

/*Header*/
nav {
  display: none;
}

span {
  color: var(--c-sec);
}

/*Intro*/
.intro {
  position: relative;
}

.intro_img {
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
  border-radius: 10px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.intro_img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.section_subtitle-intro {
  display: block;
}

@media (min-width: 600px) {
  .intro {
    display: -ms-grid;
    display: grid;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
        grid-template-areas: "img title"
 "img sub";
    -ms-grid-columns: min-content max-content;
        grid-template-columns: -webkit-min-content -webkit-max-content;
        grid-template-columns: min-content max-content;
  }
  .intro_img {
    -ms-grid-row-span: 2;
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }
  .section_subtitle-intro {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    grid-column: -1 / 1;
    -ms-grid-row: 2;
    grid-row: 2;
    text-align: right;
    position: relative;
    border-radius: 15px;
    left: -1.4em;
    width: calc(100% + 1.4em);
  }
}

/*Body*/
.highlight {
  background: var(--c-grey-6);
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding-left: .4em;
  margin-left: 2em;
  grid-column: -1 / 1;
  -ms-grid-row: 2;
  grid-row: 2;
  position: relative;
  border-radius: 10px;
  left: -1.8em;
  width: calc(45% + 1em);
}
.body_img {
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
  border-radius: 10px;
}

/*Independent*/
.btn-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-sec);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main-btn .btn-text {
  padding: 0 2rem;
}

.main-btn .btn-icon {
  background-color: var(--color-sec) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}

.main-btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  z-index: -1;
}

.main-btn:hover {
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-sec);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}
/*# sourceMappingURL=posts.css.map */