

html{
  scroll-behavior: smooth;
}

body{
  height: 4500px;
  padding-left: 20px;
  padding-right: 100px;
  padding-top: 60px;
  background-color: rgb(10, 81, 88);
  margin: 0;
}

.blog-grid h2{
  font-size: 30px;
}


h1{
  font-size: 48px;
  color: white
}

h1 span{
  color:rgb(22, 224, 189)
}

h2{
  font-size: 48px;
}

h3{
  font-size: 24px;
}

.header{
  height: 80px;
  display: flex;
  flex-direction: row;
  background-color: rgba(60, 167, 161, 0.589);
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: grey;
  z-index: 20;
}

.header span{
  color: black;
  font-weight: bold;
}

.header-left-side{
  width: 200px;
}

.left-icon img{
  height: 66px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  border-radius: 10px;
}


.header-mid-side{
  margin-left: 20px;
  margin-right: 20px;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  flex: 1;
  font-weight: bold;
  bottom: 4px;
  font-family: 'Rubik Microbe', cursive;
}

.header-right-side{
  width: 200px;
  padding-right: 20px;
}



/*SIDEBAR*/
.sidebar{
  position: fixed;
  right: 14px;
  bottom: 40px;
  top: 100px;
  width: 64px;
}

.sidebar-link{
  height: 60px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  cursor: pointer;
  box-shadow: 2px 0 14px 2px rgba(248, 248, 248, 0.822) inset;
  box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.411);
  transition: all .6s ease-in-out;
  background: radial-gradient(circle at 10px 18px, rgba(135, 161, 165, 0.664), rgba(86, 24, 156, 0.808), rgba(42, 95, 95, 0.788));
}

.sidebar-link:hover{
  height: 65px;
  color: cornflowerblue;
  box-shadow: 4px 2px 10px rgba(2, 247, 255, 0.87) inset;
  border-radius: 8px;
  opacity: 0.8;
}

.sidebar-link div{
  align-items: center;
  justify-content: center;
  transition: all .4s ease-in-out;
}

.sidebar-link i{
  color:rgb(69, 194, 216);
  font-size: 24px;
  transition: all .4s ease-in-out;
}

.sidebar-link:hover i{
  font-size: 26px;
  color: rgba(253, 21, 156, 0.884);
}

.sidebar-link:hover div{
  display: none;
}
/*End of Sidebar*/


/*HOME*/
.main{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 200px;
}

.left-main img{
  width: 200px;
  border-radius: 4px;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}


.right-main{
  font-family: Georgia, Times, 'Times New Roman';
  margin-left: 20px;
  background-color: rgba(129, 188, 211, 0.295);
  padding-left: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-main span{
  color: aquamarine;
}

.right-main h2{
  color: rgb(224, 70, 160)
}

.sub-main{
  margin-top: 100px;
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  height: 160px;
  padding-bottom: 10px;
}

.left-sub-main{
  background-color: aquamarine;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-sub-main{
  background-color: steelblue;
  margin-left: 20px;
  border-radius: 8px;
}

.mid-sub-main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20px;
  border-radius: 8px;
  background-color: steelblue;
}

.mid-sub-left{
  border-top-left-radius: 8px;
  background-color: green;
}

.project-head{
  padding-left: 20px;
  color: white;
}
/*End of Home*/


/*ABOUT*/
.section-heading{
  font-family: 'Lobster', cursive;
  font-weight: 110;
  text-shadow: -8px 6px 8px rgb(113, 28, 122);
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 40px;
}

.about-main{
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 420px;
}

.about-text{
  background-color: rgba(155, 219, 209, 0.425);
  text-shadow: none;
  margin-left: 20px;
  border-radius: 20px;
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 28px 18px rgba(21, 144, 182, 0.801) inset;
}

.jay-pic{
  height: 420px;
  width: 300px;
  object-fit: cover;
  border-radius: 4px;
  transition: all 0.6s;
  border-top-left-radius: 110px;
  border-bottom-right-radius: 110px;
  filter: grayscale(100%);
}

.jay-pic:hover{
  filter: grayscale(0%);
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.about-text, .con-text p{
  color: white;
  font-size: 22px;
}
/*End of About*/


/*GIGS*/
.gigs-title{
  margin-top: 80px;
  text-align: center;
}

.gigs-title .bg-text{
  top: 1130px;
  color: rgb(22, 224, 189);
  z-index: -1;
  font-weight: 600;
  font-size: 60px;
}

.flip-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  column-gap: 68px;
  padding: 10px;
  padding-bottom: 20px;
}

.flip-card {
  margin-top: 30px;
  width: 320px;
  height: 320px;
  perspective: 1000px;
  border-radius: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  border-radius: 10px;
  background-color: #bbb;
  color: black;
}

.flip-card-front .gigz{
  width: 320px;
  height: 320px;
  border-radius: 10px;
  object-fit: cover;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  box-shadow: -6px -6px 12px 2px rgb(22, 224, 190);
}

.flip-card-back {
  background-color: rgba(22, 224, 190, 0.226);
  color: white;
  transform: rotateY(180deg);
  border-radius: 15px;
  border-left: 2px solid black;
  border-top: 1px solid black;
  box-shadow: 8px 8px 14px 2px rgb(22, 224, 189);
}

.items{
  margin-bottom: 12px;
}

.gig-icons{
  display: inline-block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.icon{
  background-color: aquamarine;
  color: black;
  border-radius: 5px;
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  box-shadow: 4px 2px 6px 1px rgb(1, 81, 128);
  transition: all .6s ease-out;
}

.icon:hover{
  background-color: rgb(115, 1, 128);
  color: white;
  width: 55px;
  height: 35px;
  box-shadow: 4px 2px 6px 1px rgb(22, 224, 189);
}

.flip-card-back div{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
/*End of Gigs*/


/*BLOGS*/
.blog-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 60px;
  padding: 10px;
  padding-bottom: 20px;
}

.blog-card{
  border-radius: 10px;
  box-shadow: 18px 18px 8px rgba(0, 0, 0, 0.411);
  width: 320px;
  height: 400px;
  background-color: rgba(57, 10, 88, 0.575);
  text-align: center;
  color: aliceblue;
  animation-timing-function: ease-in-out;
  border-left: 2px solid black;
  border-top: 2px solid black;
}

@keyframes blog-card{
  from {transform: translate(0, 0px);}
  65%  {transform: translate(0, 20px);}
  to   {transform: translate(0, -0px);}
}


.blog-card:hover{
  box-shadow: 10px 10px 10px rgba(91, 13, 122, 0.671);
  animation-name: blog-card;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  
}

.blog-card .b-pic{
  height: 310px;
  width: 320px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  object-fit: cover;
  filter: grayscale(1);
  transition: all .4s ease-in-out;
  border-bottom: 4px solid rgba(22, 224, 190, 0.74);
}

.blog-card .b-pic:hover{
  filter: grayscale(0);
}
/*End of Blogs*/


/*GALLERY*/
.pic-grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(11, 8vw);
  grid-gap: 8px;
  padding-bottom: 20px;
}

.pic-single{
  background-color: lightcoral;
  border-radius: 10px;
}

.pic{
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cactus{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 6;
}

.cannon{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.cannons{
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}

.ocean{
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 6;
}

.mushroom{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 9;
}

.plant{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.pool{
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 12;
}

.mountain{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 9;
  grid-row-end: 12;
}
/*End of Gallery*/


/*Contact Section*/
.con-main{
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 20px;
  height: 400px;
  column-gap: 10px;
  padding-bottom: 40px;
}

.con-text{
  background-color: rgba(155, 219, 209, 0.425);
  text-shadow: none;
  margin-left: 10px;
  border-radius: 20px;
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 28px 18px rgba(21, 144, 182, 0.801) inset;
  background-color: rgba(54, 54, 54, 0.5);
  margin-right: 20px;
  padding-top: 20px;
}

.con-pic{
  width: 300px;
  height: 400px;
  padding-right: 10px;
}

.con-pic .change-pic img{
  width: 300px;
  height: 400px;
  padding-right: 10px;
  object-fit: cover;
  border-radius: 8px;
  border-bottom-right-radius: 80px;
}

.con-pic .change-pic:nth-of-type(2){
  display: none;
}

.con-pic:hover .change-pic:nth-of-type(1){
  display: none;
}

.con-pic:hover .change-pic:nth-of-type(2){
  display: block;
}

.con-text h2{
  font-family: 'Lobster', cursive;
  font-weight: 300;
  margin-top: 10px;
  color:rgb(22, 224, 189);
  text-shadow: -4px 6px 8px rgb(113, 28, 122);
  height: 60px;
}

.con-text span{
  color: white;
}

/*Get In Touch*/
.con-tainer{
  height: 200px;
  display: grid;
  grid-template-columns: 200px 360px;
  border-left-style: solid;
  border-bottom-style: solid;
  border-right-style: double;
  border-top-style: double;
  border-width: medium;
  border-radius: 10px;
  border-color: rgba(22, 224, 190, 0.774);
  box-shadow: 6px 8px 18px 2px rgba(153, 33, 177, 0.664);
  padding-top: 10px;
}

.con-info{
  text-align: left;
  padding-left: 10px;
}

.con-more-info{
  text-align: left;
}


